<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  
  -->
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="DEFAULT_CONNECTION" value="Server=localhost;Initial Catalog=API;Integrated Security=True;MultipleActiveResultSets=true" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core" />
  </configSections>
  <aws region="ap-southeast-1">
    <logging logTo="Log4Net" />
  </aws>
</configuration>
<!--ProjectGuid: 2a80bd04-2424-4a08-ba12-3f352d273437-->